<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body>

<form action="#" method="post" th:action="@{/general/}">

<h4 style="color: black;" th:text="${session.patientUsername}">SessionID</h4>
<h4 style="color: black;" th:text="${session.nurseUsername}">SessionID</h4>
<p Style="color:red;" th:text="${message}"></p>

<table>
<tr>
<td>enter the patient mobile or email</td>
<td><input type="text" th:field="${buffer.bufferValue}"></td>
</tr>

<tr>
<td><button type="submit" name="action" value="view">view</button></td>
<td><button type="submit" name="action" value="edit">edit</button></td>
</tr>

<tr>
<td><button type="submit" name="action" value="create">Create new Record</button></td>
</tr>

</table>
</form>

</body>
</html>